In [201]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle 
import numpy as np
import pandas as pd

In [202]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 20000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 60000
    
    
   
    
    
    
}

In [203]:
model=load_model('model.h5')

with open('label_enocer_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

    
with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)     
    
with open('onehotencoder.pkl','rb') as file:
    onehotencoder = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [204]:

geoencoder=onehotencoder.transform([[input_data['Geography']]]).toarray()
geoencoder_df=pd.DataFrame(geoencoder,columns=onehotencoder.get_feature_names_out(['Geography']))

c:\Users\chafl\miniconda3\envs\hello\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [205]:
geoencoder_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [206]:
input_df=pd.DataFrame([input_data])

In [207]:
input_data

{'CreditScore': 600,
 'Geography': 'France',
 'Gender': 'Male',
 'Age': 40,
 'Tenure': 3,
 'Balance': 20000,
 'NumOfProducts': 2,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 60000}

In [208]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [209]:
input_df=pd.concat([input_df.drop("Geography",axis=1),geoencoder_df],axis=1)

In [210]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,20000,2,1,1,60000,1.0,0.0,0.0

In [211]:
print(scaler.feature_names_in_)

['CreditScore' 'Gender' 'Age' 'Tenure' 'Balance' 'NumOfProducts'
 'HasCrCard' 'IsActiveMember' 'EstimatedSalary' 'Geography_France'
 'Geography_Germany' 'Geography_Spain']

In [212]:
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.89825077,
         0.80843615,  0.64920267,  0.97481699, -0.70296551,  1.00150113,
        -0.57946723, -0.57638802]])

In [213]:
prediction=model.predict(input_scaled)
predictionpro=prediction[0][0]

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 174ms/step

In [214]:
predictionpro

0.021477975